body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */

.button {
  display: flex;
  flex-direction: column;
}

.button button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 1rem;
  margin-top: 1.4rem;
}

nav {
  width: 100%;
  background-color: white;
  color: skyblue;
  margin-bottom: 0;
}

.logo-image {
  width: 3rem;
  padding: 0.6rem;
  border-radius: 30%;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;
}

a,
.link-btn {
  text-decoration: none;
  color: lightblue;
  font-size: 0.9rem;
  font-weight: 700;
  background: transparent;
  border: none;
  outline: none;
}

ul li {
  list-style-type: none;
  padding: 0.4rem;
}

.links {
  display: block;
}

.hide-links {
  display: none;
  transition: all 0.5s ease-in-out;
}

/* slider */
.carousel-wrapper {
  margin: 0;
  padding: 0;
}

.overlay {
  background-color: rgba(59, 47, 47, 0.5);
  min-height: inherit;
  margin: 0;
  padding: 0;
}

.background-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-size: 1.4rem;
  color: rgb(250, 255, 204);
}

.background-image {
  min-height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* home-page */
main {
  margin-top: 0;
}

.home-intro {
  background-color: rgb(241, 47, 41);
  margin-bottom: 0;
}

.home-intro p {
  color: white;
  margin: auto 2rem;
  padding: 0.4rem;
  font-size: 1.3rem;
}

.home-intro a {
  color: blue;
  font-size: 0.9rem;
  background: white;
  padding: 0.1rem;
  font-weight: 800;
  display: inline-block;
  margin: 0.5rem 0 1rem 2rem;
  text-align: center;
}

.impact {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.impact h3 {
  color: rgb(14, 172, 111);
  font-size: 1.6rem;
  margin: 1rem 0 -1.4rem 2rem;
  font-weight: 600;
}

.impact ul li {
  line-height: 1.9rem;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  list-style-type: disc;
}

.impact a {
  color: blue;
  margin: 0 0 1rem 1rem;
}

.mission {
  font-size: 1.2rem;
  color: rgb(3, 25, 126);
  line-height: 2.35rem;
}

/* activities */

.page-title {
  background: linear-gradient(to right top, rgb(16, 31, 36), rgb(69, 195, 245));
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}

.activities {
  background-color: rgb(216, 224, 224);
  margin-top: 0;
}

.activitiesList {
  margin: 3rem 2.3rem;
}

.singleActivity {
  background-color: white;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.singleActivity h3 {
  text-align: center;
  text-transform: capitalize;
}

.singleActivity p {
  text-align: center;
  line-height: 1.8rem;
}

.read-more {
  background: none;
  text-decoration: solid;
  color: blue;
  border: none;
  outline: none;
  font-weight: 700;
}

.activities a {
  color: blue;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  text-decoration: underline;
  padding-bottom: 0.7rem;
}

/* about */

.about-links {
  margin: 1rem 1.6rem;
  line-height: 1rem;
}

.about-links ul li a {
  color: blue;
  text-decoration: solid;
  display: block;
}

.about-fop,
.vision,
.overview-info,
.team p,
.history {
  margin: auto 0.6rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.about-fop h3,
.team h3,
.vision h3,
.history h3 {
  text-transform: capitalize;
}

.team h3 {
  margin: 1.5rem 0.6rem;
  font-size: 1.2rem;
  border-top: 2px red solid;
  padding: 0.5rem;
}

.vision {
  border-bottom: 2px red solid;
  border-top: 2px red solid;
}

.our-team {
  background-color: whitesmoke;
}

.member {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  margin-top: 1.2rem;
}

.member img {
  border-radius: 50%;
  border: blue;
  display: block;
  width: 8rem;
  text-align: center;
}

.member h3 {
  color: rgb(26, 50, 59);
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

.member h4 {
  color: rgb(56, 12, 12);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 0;
}

.about a {
  color: blue;
  font-weight: 600;
  text-decoration: underline;
  display: block;
  text-align: end;
}

/* events */
.events h5 {
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 2px orangered solid;
  margin: 1.1rem 1rem;
}

.event {
  margin: 0.7rem 1.1rem;
}

.event h3 {
  color: rgb(12, 67, 112);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}

.event p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.event p button {
  color: blue;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 600;
}

/* donate */
.involved {
  margin: auto 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
  font-size: 1.05rem;
}

.donate h5 {
  font-size: 1.3rem;
  color: rgb(42, 75, 63);
  text-align: center;
}

.donate a {
  color: white;
  background-color: black;
  display: inline-block;
  margin-left: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
textarea {
  background: lightblue;
  margin-bottom: 1.2rem;
  padding: 0.7rem;
  border: none;
  border-radius: 1rem;
  outline: none;
}

form button {
  color: white;
  background: blue;
  border-radius: 2rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

form textarea {
  margin-top: 0.5rem;
}

.back-home {
  color: rgb(255, 255, 255);
  background-color: #000;
  display: inline-block;
}

/* footer */

footer {
  background-color: #333;
  padding: auto 3rem;
  /* margin-bottom: 0; */
}

.footer-links,
.footer-contacts {
  margin: 0.2rem 0.7rem;
  text-transform: capitalize;
  color: white;
}

.footer-links a {
  display: block;
  margin: 0.15rem auto;
  font-size: 0.7rem;
  color: rgb(189, 236, 57);
}

.footer-contacts {
  font-size: 0.8rem;
  line-height: 0.3rem;
}

.copyright {
  text-align: center;
}

.copyright p {
  font-size: 0.8rem;
  color: rgb(9, 116, 209);
  margin-bottom: 0;
  padding: 0 2rem;
  font-weight: 700;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 0 6.7rem;
}

/* media query */
@media screen and (min-width: 820px) {
  .button {
    display: none;
  }

  .logo-image {
    width: 4rem;
    padding: 0.9rem;
    border-radius: 40%;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .hide-links {
    display: block;
  }

  ul li {
    display: inline-block;
  }

  a,
  .link-btn {
    font-size: 1.2rem;
  }

  .background-content {
    padding-top: 9rem;
    font-size: 2.5rem;
  }

  .background-image {
    min-height: 100vh;
  }

  /* home-page */
  .home-intro {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-intro p {
    font-size: 2.5rem;
    line-height: 3.4rem;
  }

  .impact h3 {
    font-size: 1.9rem;
    margin: 1.2rem 0 -1.6rem 2.2rem;
    font-weight: 600;
  }

  .impact ul li {
    line-height: 2.5rem;
    font-size: 1.8rem;
  }

  /* activities */

  .activitiesList {
    margin: 3.5rem 2.8rem;
  }

  .singleActivity {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .singleActivity h3 {
    font-size: 2.1rem;
  }

  .singleActivity p {
    line-height: 2.5rem;
    font-size: 1.7rem;
  }

  .read-more {
    font-size: 1.7rem;
  }

  .activities a {
    font-size: 1rem;
  }

  /* about */
  .about-fop h3,
  .team h3,
  .vision h3,
  .history h3 {
    font-size: 2rem;
  }

  .team h3 {
    font-size: 2rem;
  }

  .about-fop,
  .vision,
  .overview-info,
  .team p,
  .history {
    margin: auto 0.8rem;
    font-size: 1.7rem;
    line-height: 2.4rem;
  }

  .about-links ul li a {
    display: block;
  }

  .member {
    margin-top: 1.5rem;
  }

  .member img {
    width: 11rem;
  }

  /* get involved */
  .involved {
    margin: auto 1.2rem;
    margin-bottom: 0.8rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }

  .donate h5 {
    font-size: 1.5rem;
  }

  form input,
  textarea {
    margin-bottom: 1.5rem;
    padding: 0.8rem;
  }

  form button {
    font-size: 1.6rem;
  }

  form textarea {
    margin-top: 0.7rem;
  }

  /* footer */

  footer {
    padding: auto 4rem;
  }

  .footer-links,
  .footer-contacts {
    margin: 0.3.5rem 0.9rem;
  }

  .footer-links a {
    margin: 0.3rem auto;
    font-size: 0.95rem;
  }

  .footer-contacts {
    font-size: 1rem;
    line-height: 0.5rem;
  }

  .copyright p {
    font-size: 1rem;

    padding: 0 3rem;
  }

  .social-media {
    margin: 0 8rem;
  }
}
